@using PcInfoModels;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @{ RuntimeInfo info = (RuntimeInfo)ViewData["runtimeInfos"];}
        <h1>Runtime Information:</h1>
        <p>Computer Name: @info.ComputerName</p>
        <p>Operation System: @info.OSInfo</p>
        <p>Operation System Install Date: @info.InstallDate</p>
        <p>Computer Up Time: @info.ComputerUpTime</p>
        <p>Total Memory Size: @info.TotalMemorySize</p>
        <p>Processor Count: @info.ProcessorCount</p>
        <p>Input Language: @info.InputLocale</p>
        <p>Language for non Unicode programs: @info.SystemLocale</p>
    </div>

    <div>
        <h1>Disk Space Information:</h1>
        @{ List<DiskSpace> diskSpace = (List<DiskSpace>)ViewData["diskSpaceInfo"];
            foreach (DiskSpace d in diskSpace)
            {
                <p>Name: @d.Name</p>
                <p>Total free space: @d.TotalFreeSpace</p>
                <p>Total reserved space: @d.TotalReservedSpace</p>
                <p>Total space: @d.TotalSpace</p>
            }
        }
    </div>

    <div class="row">
        <h1>Running Processes: </h1>
        @{List<Process> processes = (List<Process>)ViewData["processes"];}
        <table class="table-hover">
            <tr>
                <th class="col-sm-4">Process name</th>
                <th class="col-sm-4">PID</th>
                <th class="col-sm-4">Action</th>
            </tr>
            @{foreach (Process process in processes)
                {
                    <tr>
                    <td class="col-sm-4">@process.ProcessName</td>
                    <td class="col-sm-4">@process.Id</td>
                    <td class="col-sm-4"><span class="glyphicon glyphicon-remove" onclick="location.href = '@(Url.Action("KillProcess", "Info", new { pid = process.Id, IP = ViewData["ip"] }))'"></span></td>
                </tr>
                }
            }
        </table>
    </div>

    <div>
        <h1>Running Services: </h1>
        @{List<Service> services = (List<Service>)ViewData["services"];}
        @{foreach (Service service in services) {
                <p>@service.Name</p>
            }
        }
    </div>
    <p>@ViewData["ip"]</p>
    
    @*@{var ip = ViewData["ip"].ToString();}
    @{System.Diagnostics.Debug.WriteLine(ip);}
    @{ string actualUrl = "http://localhost:56002/Info?IP=" + ip + "%3A8000%2FPcInfoSender";
        System.Diagnostics.Debug.Write(actualUrl);}*@
    @*<a href=@actualUrl download>"SAving"*@
    @*</a>*@
</body>
</html>
